body {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: rgb(60, 67, 74);
}
*{
    margin: 0;
    padding: 0;
}
.player {
    height: 95vh;
    display: grid;
    place-items: center;

}

.volume-player {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

}

.volume-player i {
    color: #ED145B;
}

.wrapper {
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    position: relative;


}


.wrapper .volume-player {
    background-color: white;
    position: absolute;
    width: 80%;
    height: 8%;
    right: 20px;
    top: 25%;
    bottom: 25%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 10%;
    right: 10%;
    top: 15%;
    border-radius: 10px;
    padding: 2px;
    display: none;
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.track-art {
    margin: 25px;

    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius: 190px;
    -webkit-border-radius: 190px;
    border-radius: 190px;
}

.track-art img {
   
   
    
    width: 250px;
    height: 250px;
    border-radius: 50%;
   

}

/* .now-playing{
    font-size: 1rem;
} */
.song-data {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}

.title {
    font-size: 20px;
    font-weight: 500;
}

.author {
    margin-top: 4px;
    font-size: 15px;
    font-weight: 600;
}

.track-name {
    font-size: 2.5rem;
}

.track-artist {
    margin-top: 5px;
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

}

.active {
    color: black;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1.0;
}

.slider_container {

    display: flex;
    justify-content: center;
    align-items: center;


}

.seek_slider,
.volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #ED145B;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #ED145B;
    cursor: pointer;
    border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
    opacity: 1.0;
}

.seek_slider {
    width: 60%;
}

.volume_slider {
    width: 30%;
}

.current-time,
.total-duration {
    padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
    padding: 10px;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
    cursor: pointer;
}

.randomActive {
    color: black;
}

.rotate {
    animation: rotation 8s infinite linear;

}

.loader {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .stroke {
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0px 5px;
    animation: animate 1.4s linear infinite;
}

.stroke:nth-child(1) {
    animation-delay: 0s;
}

.stroke:nth-child(2) {
    animation-delay: 0.3s;
}

.stroke:nth-child(3) {
    animation-delay: 0.6s;
}

.stroke:nth-child(4) {
    animation-delay: 0.9s;
}

.stroke:nth-child(5) {
    animation-delay: 0.6s;
}

.stroke:nth-child(6) {
    animation-delay: 0.3s;
}

.stroke:nth-child(7) {
    animation-delay: 0s;
}

.volum_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    /* background-color: red; */
}

.other_opc {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;

}

.songList {
    width: 90%;
    height: auto;
    left: 5%;
    top: 0%;
    position: absolute;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    overflow: hidden;
}

.songList span {
    cursor: pointer;
}

.songList .songMore {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.songContent {
    width: 100%;
    height: 0px;
    box-sizing: border-box;
    margin-top: 4px;
    display: flex;

    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    transition: 1s;

}

.songContent i {
    margin-right: 5px;
}

.songContent .songItems {
    width: 90%;
    /* height: 30px; */
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 4px;
    background-color: rgb(29, 29, 29);
    padding: 10px 10px;
    margin-top: 10px;
    position: sticky;


}

.elemnt-flex {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    position: sticky;
    width: 100%;
}

.download {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ED145B;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5%;
    top: 15%;
    z-index: 1;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: white;
    border-bottom-left-radius: 0;

}

.download a {
    color: white;
}

.title {
    text-align: center;

}

.title span {
    width: auto;
    background-color: red;
}

.curTime1 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 5px;
}

.curTime2 {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-left: 5px;
}

.openClose {
    width: 20px;
    height: 20px;
    background-color: #ED145B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-end-end-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.message {
    text-align: center;
    background-color: red;
    display: none;
}

.clear {

    overflow: hidden;
    background-color: red;



}

.repeat_open {
    display: flex;
}

.repeat_close {
    color: red;
    font-weight: bolder;
    display: none;
    transform: rotate(25deg);
}
.repeat_close i {
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-moz-keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.duracion{
    display: none;
}
/* .rotate{
    animation: imgSpin 1s linear infinite;
}
@-webkit-keyframes imgSpin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */



.loader {
    position: absolute;
    

    border: 16px solid #f3f3f3;
    border-radius: 50%;
    
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spiners 2s linear infinite; /* Safari */
    -moz-animation:spiners 2s linear infinite;
    animation: spiners 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spiners {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spiners {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* mozila */
  @-moz-keyframes spiners {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.loderDiv{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 1;
    display: none;
  }
  .blur_effect{
    -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
    filter: blur(10px);
  }
#lodingNow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    color: black;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}